@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whinky+Rough', cursive;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #ffff);
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position:relative;
}

.pokedex {
    width: 100%;
    max-width: 425px;
}

.pokemon__image {
    position:absolute;
    left: 50%;
    bottom: 55%;
    transform: translate(-63%, 0);
}
